body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(
      to left bottom,
      rgba(0, 0, 0, 0.496),
      rgba(0, 0, 0, 0.545)
    ),
    url('/background/background.jpg');
  background-size: cover;
}

.row {
  display: flex;
}
.checker_placeholder {
  height: 5rem;
  width: 5rem;
  border: 1px solid white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media (max-width: 460px) {
  .checker_placeholder {
    height: 3.5rem;
    width: 3.5rem;
  }
}
.checker_placeholder:hover {
  cursor: crosshair;
}
.checker_transparent {
  border: none;
}

.pointer {
  height: 2rem;
}

.playerIndicator {
  background-color: rgba(255, 166, 0, 0.467);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  color: white;
  background-color: #ff6666;
  margin-top: 2rem;
  border-radius: 1rem;
}
